[[!PostRequests]]

<form action="[[~[[*id]]]]" method="post" id="authForm" class="ajaxForm">
	URL <input type="text" name="url" value=""><br>
	Username <input type="text" name="fieldValues[]" value=""><input type="hidden" name="fieldNames[]" value="username">
	Password <input type="text" name="fieldValues[]" value=""><input type="hidden" name="fieldNames[]" value="password">
	<input type="hidden" name="fieldValues[]" value="login"><input type="hidden" name="fieldNames[]" value="service">
	<input type="hidden" name="fieldValues[]" value="/loginsync"><input type="hidden" name="fieldNames[]" value="returnUrl">
	<input type="submit" value="Auth">
	<input type="hidden" name="pr_action" value="auth">
</form>

<br>
<hr>
<br>

<form action="[[~[[*id]]]]" method="post" id="requestForm" class="ajaxForm">
	URL <input type="text" name="url" value=""><br>
	<ol>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
		<li>Name <input type="text" name="fieldNames[]" value=""> Value <input type="text" name="fieldValues[]" value=""></li>
	</ol>
	<input type="submit" value="Auth">
	<input type="hidden" name="pr_action" value="request">
</form>

<div id="ajaxResult" style="min-height: 100px; background-color: #ccc">

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>